{% extends 'layout.twig' %}

{% block content %}
    <p>Only users who voted more than 5 times are taken into account.</p>

    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>User</th>
            <th>Voted yes</th>
            <th>Voted no</th>
            <th># of votes</th>
            <th>Approval %</th>
            <th>Hivemind %</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="/users/{{ user.name }}">{{ user.name }}</a>
                </td>
                <td>{{ user.yesVotes.count() }}</td>
                <td>{{ user.noVotes.count() }}</td>
                <td>{{ user.votes.count() }}</td>
                <td>{{ user.approval * 100 }}%</td>
                <td>{{ user.hivemind * 100 }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
