{% extends '_layouts/layout.twig' %}

{% block content %}
    <ul class="explanations list-unstyled">
        <li>Only users who voted more than 5 times are taken into account.</li>
        <li>The <strong>Approval %</strong> is how many RFCs an user has approved of.</li>
        <li>The <strong>Hivemind %</strong> is how many RFCs an user has approved of that other users also approved of in their majority.</li>
    </ul>

    {% include '_partials/search.twig' %}

    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th class="text-right">Voted YES</th>
                <th class="text-right">Voted NO</th>
                <th class="text-right"># of votes</th>
                <th class="text-right">Approval %</th>
                <th class="text-right">Hivemind %</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="/users/{{ user.name }}">{{ user.name }}</a>
                    </td>
                    <td class="text-right">{{ user.yes_votes }}</td>
                    <td class="text-right">{{ user.no_votes }}</td>
                    <td class="text-right">{{ user.total_votes }}</td>
                    <td class="text-right">{{ percentage(user.approval) }}%</td>
                    <td class="text-right">{{ percentage(user.hivemind) }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
