{% extends '_layouts/layout.twig' %}
{% set title = user.display_name %}
{% set fluid = false %}

{% block title %}
    {% include '_partials/user.twig' %}
{% endblock %}

{% block content %}
    <ul class="list-unstyled lead text-center">
        <li>
            Commented <strong>{{ user.comments.count() }}</strong> times
        </li>
        <li>
            {% if user.requests.count() %}
                Created <strong>{{ user.requests.count() }}</strong> RFCs,
                <strong>{{ percentage(user.success) }}</strong> of which have been approved.
            {% else %}
                Did not create any RFCs.
            {% endif %}
        </li>
        {% if user.total_votes %}
            <li>
                Voted <strong>{{ user.total_votes }}</strong> times, and has been correct
                <strong>{{ percentage(user.hivemind) }}</strong> of the time.
            </li>
            <li>
                {% if user.negativeness >= 0.5 %}
                    Has voted <strong>negatively</strong> on <strong>{{ percentage(user.negativeness) }}</strong> of the matters he voted on.
                {% else %}
                    Has voted <strong>positively</strong> on <strong>{{ percentage(1 - user.negativeness) }}</strong> of the matters he voted on.
                {% endif %}
            </li>
        {% endif %}
        <li>
            {% if user.contributions is not empty %}
                Contributed to <strong>{{ user.contributions|length }}</strong> projects ({{ user.contributions|slice(1, 3)|join(', ') }}, etc.)
            {% else %}
                Has <strong>no</strong> listed contributions.
            {% endif %}
        </li>
        <li>
            <a target="_blank" href="http://people.php.net/{{ user.name }}">View his profile on phppeople</a>
        </li>
    </ul>

    {% if user.requests.count() %}
        {% include '_partials/tables/requests.twig' with {requests: user.requests, table_name: 'Created RFCs'} %}
    {% endif %}

    {% if user.votes.count() %}
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="text-center" colspan="5">Voted RFCs</th>
                </tr>
                <tr>
                    <th>RFC</th>
                    <th>Question</th>
                    <th class="text-right">Voted</th>
                    <th class="text-right">Approval %</th>
                    <th class="text-right">Correct?</th>
                </tr>
                </thead>
                {% for vote in user.votes %}
                    {% set yes = vote.choice < vote.question.choices %}
                    <tr>
                        <td>
                            <a href="/requests/{{ vote.question.request.id }}">{{ vote.question.request.name }}</a>
                        </td>
                        <td>{{ vote.question.name }}</td>
                        <td class="text-right">{{ choice(vote.question, vote) }}</td>
                        <td class="text-right">{{ percentage(vote.question.approval) }}</td>
                        <td class="text-right">{{ vote.question.majority_choice == vote.choice ? 'Yes' : 'No' }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
