{% extends '_layouts/layout.twig' %}
{% set title = user.name %}
{% set subtitle = user.name %}

{% block title %}
    <img class="img-circle" src="{{ gravatar.get(user.email) }}" alt="">
    <h2>
        {{ user.name }}<br>
        <small>{{ user.full_name }}</small>
    </h2>
{% endblock %}

{% block content %}
    <p class="lead text-center">
        This user created {{ user.requests.count() }} RFCs.<br>
        He/She also voted <strong>{{ user.total_votes }}</strong> times, and has been correct <strong>{{ percentage(user.hivemind) }}%</strong> of the time.<br>
        <a target="_blank" href="http://people.php.net/{{ user.name }}">View his profile on phppeople</a>
    </p>

    {% if user.requests.count() %}
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="text-center" colspan="5">Created RFCs</th>
                </tr>
                <tr>
                    <th>RFC</th>
                    <th class="text-right">Approval %</th>
                    <th class="text-center">Last update</th>
                </tr>
                </thead>
                {% for request in user.requests %}
                    <tr>
                        <td>
                            <a href="/requests/{{ request.id }}">{{ request.name }}</a>
                        </td>
                        <td class="text-right">{{ percentage(request.approval) }}%</td>
                        <td class="text-center">{{ request.created_at.toDateString() }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th class="text-center" colspan="5">Voted RFCs</th>
            </tr>
            <tr>
                <th>RFC</th>
                <th>Question</th>
                <th class="text-right">Voted</th>
                <th class="text-right">Approval %</th>
                <th class="text-right">Correct?</th>
            </tr>
            </thead>
            {% for vote in user.votes %}
                {% set yes = vote.choice < vote.question.choices %}
                <tr>
                    <td>
                        <a href="/requests/{{ vote.question.request.id }}">{{ vote.question.request.name }}</a>
                    </td>
                    <td>{{ vote.question.name }}</td>
                    <td class="text-right">{{ choice(vote.question, vote) }}</td>
                    <td class="text-right">{{ percentage(vote.question.approval) }}%</td>
                    <td class="text-right">{{ vote.question.majority_choice == vote.choice ? 'Yes' : 'No' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
