{% extends '_layouts/layout.twig' %}
{% set title = user.display_name %}
{% set fluid = false %}

{% block title %}
    {% include '_partials/user.twig' %}
{% endblock %}

{% block content %}
    <ul class="list-unstyled lead text-center">
        <li>
            Commented <strong>{{ user.comments.count() }}</strong> times
        </li>
        <li>
            {% if user.requests.count() %}
                Created <strong>{{ user.requests.count() }}</strong> RFCs,
                <strong>{{ percentage(user.success) }}</strong> of which have been approved.
            {% else %}
                Did not create any RFCs.
            {% endif %}
        </li>
        {% if user.total_votes %}
            <li>
                Voted <strong>{{ user.total_votes }}</strong> times, and has been correct
                <strong>{{ percentage(user.hivemind) }}</strong> of the time.
            </li>
            <li>
                {% if user.negativeness >= 0.5 %}
                    Has voted <strong>negatively</strong> on <strong>{{ percentage(user.negativeness) }}</strong> of the matters he/she voted on.
                {% else %}
                    Has voted <strong>positively</strong> on <strong>{{ percentage(1 - user.negativeness) }}</strong> of the matters he/she voted on.
                {% endif %}
            </li>
        {% endif %}
        <li>
            {% if user.contributions is not empty %}
                Contributed to <strong>{{ user.contributions|length }}</strong> projects ({{ user.contributions|slice(1, 3)|join(', ') }}, etc.)
            {% else %}
                Has <strong>no</strong> listed contributions.
            {% endif %}
        </li>
    </ul>

    {% if user.total_votes %}
        <figure class="graph">
            <canvas height="75" id="chart"></canvas>
            <figcaption>Positivity over time</figcaption>
        </figure>
    {% endif %}

    {% if user.requests.count() %}
        {% include '_partials/tables/requests.twig' with {requests: user.requests, table_name: 'Created RFCs'} %}
    {% endif %}

    {% if user.votes.count() %}
        {% include 'users/partials/votes.twig' %}
    {% endif %}
{% endblock %}

{% block js %}
    <script>var chartData = {{ chart|json_encode|raw }}</script>
{% endblock %}
