{% extends '_layouts/layout.twig' %}
{% set title = "What's happening in PHP" %}

{% set filters = {
Votes: ['vote_up', 'vote_down'],
Comments: ['comment_created'],
RFCs: ['rfc_created', 'rfc_status', 'rfc_version'],
} %}

{% block content %}
    {% if voting.count() %}
        <div class="timeline">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Currently in voting</h3>
                </div>
                <ul class="panel-body list-unstyled">
                    {% for request in voting %}
                        <li>
                            <a href="{{ url('requests.show', request.identifier) }}">{{ request.name }}</a>
                            currently approved at {{ percentage(request.approval) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
    {% endif %}

    <div class="timeline__filter btn-group btn-group-justified btn-group-sm">
        <a class="btn btn-default disabled">Filter events</a>
        <a href="{{ url('events.index') }}" class="btn {{ 'types[]' in current_uri ? 'btn-default' : 'btn-primary' }}">All</a>
        {% for label, filter in filters %}
            {% set filter = "types[]=#{filter|join('&types[]=')}" %}
            {% set active_class = filter in current_uri ? 'btn-primary' : 'btn-default' %}
            <a href="{{ url('events.index') }}?{{ filter }}" class="btn {{ active_class }}">{{ label }}</a>
        {% endfor %}
    </div>

    <ul class="list-group timeline">
        {% for event in events %}
            {% include '_partials/event.twig' %}
        {% endfor %}
    </ul>

    <div class="text-center">
        {{ events.appends({types: filter}).render() | raw }}
    </div>
{% endblock %}
