{% set fluid = fluid is defined ? fluid : true %}

<!doctype html>
<html lang="en">
<head>
    <title>{{ title ? "#{title} - #{app_name}" : app_name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ assets.main.css }}">
</head>
<body>
    {% include '_layouts/partials/header.twig' %}
    {% include '_layouts/partials/navbar.twig' %}

    <main class="layout-content container{{ fluid ? '-fluid' : '' }}">
        <div class="layout-pagehead text-center">
            {% block title %}
                {% if title %}
                    <h2>{{ title }}</h2>
                {% endif %}
            {% endblock %}
        </div>

        {% block content %}{% endblock %}
    </main>

    {% include '_layouts/partials/footer.twig' %}

    <script src="{{ assets.main.js }}"></script>
    {% include '_layouts/partials/analytics.twig' %}
</body>
</html>
