{% extends '_layouts/layout.twig' %}
{% set title = 'Companies' %}

{% block title %}
    <h2>{{ title }}</h2>
    <h3>Who keeps the metric system down?</h3>
{% endblock %}

{% block content %}
    {% include '_partials/search.twig' %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Company</th>
                <th># of users</th>
                <th class="default-sort">
                    <abbr title="How many voting members does this company have VS all voting members">Representation %</abbr>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies if company.users.count() %}
                <tr>
                    <td>
                        <a href="{{ url('companies.show', company.identifier) }}">{{ company.name }}</a>
                    </td>
                    <td>{{ company.users.count() }}</td>
                    <td>{{ percentage(company.representation) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
