<a href="/users/{{ event.eventable.user.id }}">{{ event.eventable.user.display_name }}</a>
voted <strong>{{ choice(event.eventable.question, event.eventable) }}</strong>
on <a href="/requests/{{ event.eventable.question.request.id }}">{{ event.eventable.question.request.name }}</a>
