<a href="{{ url('users.show', event.eventable.user.identifier) }}">{{ event.eventable.user.display_name }}</a>
voted <strong>{{ choice(event.eventable.question, event.eventable) }}</strong>
on <a href="{{ url('requests.show', event.eventable.request.identifier) }}">{{ event.eventable.request.name }}</a>
