{% extends '_layouts/layout.twig' %}
{% set title = request.name %}

{% block title %}
    <div class="page-header">
        <h2>{{ title }}</h2>
    </div>

    <div class="authors">
        {% for author in request.authors %}
            {% include '_partials/user.twig' with {user: author} %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <ul class="request__summary lead text-center list-unstyled">
        <li>
            Currently <strong>{{ request.status_label|lower }}</strong>
        </li>
        {% if request.questions.count() %}
            <li>
                Approved at <strong>{{ percentage(request.approval) }}</strong>
            </li>
        {% endif %}
        <li>
            <div class="btn-group">
                <a target="_blank" class="btn btn-default btn-xs" href="{{ request.link }}"><i class="fa fa-book"></i> Wiki</a>
                {% if request.pull_request %}<a target="_blank" class="btn btn-default btn-xs" href="{{ request.pull_request }}"><i class="fa fa-github"></i> Pull request</a>{% endif %}
                <a target="_blank" class="btn btn-default btn-xs" href="https://www.reddit.com/submit?url={{ request.link }}"><i class="fa fa-reddit"></i> Reddit</a>
            </div>
        </li>
    </ul>

    <section class="request">
        <nav class="request__navigation">
            <ul class="list-unstyled"></ul>
        </nav>

        <section class="request__text">

            <h2 class="text-center">Contents</h2>
            <section class="request__contents">
                {{ request.contents | raw }}
            </section>

            {% if request.versions.count() %}
                {% include 'requests/partials/versions.twig' %}
            {% endif %}

            {% if request.votes.count() %}
                {% include 'requests/partials/votes.twig' %}
            {% endif %}

            {% if request.rootComments.count() %}
                {% include 'requests/partials/comments.twig' %}
            {% endif %}
        </section>
    </section>
{% endblock %}
