{% extends '_layouts/layout.twig' %}
{% set title = request.name %}

{% block title %}
    <div class="page-header">
        <h2>{{ title }}</h2>
    </div>

    <div class="authors">
        {% for author in request.authors %}
            {% include '_partials/user.twig' with {user: author} %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <ul class="request__summary lead text-center list-unstyled">
        <li>
            Currently <strong>{{ request.status_label|lower }}</strong>
        </li>
        {% if request.questions.count() %}
            <li>
                Approved at <strong>{{ percentage(request.approval) }}</strong>
            </li>
        {% endif %}
        <li>
            <a href="{{ request.link }}" target="_blank">View this RFC on the PHP wiki</a>
        </li>
    </ul>

    <section class="request">
        <nav class="request__navigation">
            <ul class="list-unstyled">
            </ul>
        </nav>

        <section class="request__text">

            <h2 class="text-center">Contents</h2>
            <section class="request__contents">
                {{ request.contents | raw }}
            </section>

            {% if request.votes.count() %}
                {% include 'requests/partials/votes.twig' %}
            {% endif %}

            {% if request.rootComments.count() %}
                {% include 'requests/partials/comments.twig' %}
            {% endif %}
        </section>
    </section>
{% endblock %}
