{% extends '_layouts/layout.twig' %}
{% set title = request.name %}
{% set subtitle = request.name %}

{% block content %}
    <p class="lead text-center">
        This RFC is currently approved at <strong>{{ percentage(request.approval) }}%</strong>.<br>
        <a href="{{ request.link }}" target="_blank">View this RFC on the PHP wiki</a>
    </p>

    {% for question in request.questions %}
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center" colspan="2">{{ question.name }} ({{ percentage(question.approval) }}% approved)</th>
                </tr>
                <tr>
                    <th>User</th>
                    <th class="text-center">Vote</th>
                </tr>
                </thead>
                <tbody>
                {% for vote in question.votes %}
                    {% set yes = vote.choice < question.choices %}
                    <tr>
                        <td>
                            <a href="/users/{{ vote.user.name }}">{{ vote.user.name }}</a>
                        </td>
                        <td class="text-center {{ yes ? 'success' : 'danger' }}">{{ choice(question, vote) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center lead">No votes yet</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}
