{% extends '_layouts/layout.twig' %}
{% set title = request.name %}

{% block title %}
    <div class="authors">
        {% for author in request.authors %}
            {% include '_partials/user.twig' with {user: author} %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <ul class="lead text-center list-unstyled">
        <li>
            Currently <strong>{{ request.status_label|lower }}</strong>
        </li>
        <li>
            Approved at <strong>{{ percentage(request.approval) }}</strong>
        </li>
        <li>
            <a href="{{ request.link }}" target="_blank">View this RFC on the PHP wiki</a>
        </li>
    </ul>

    {% for question in request.questions %}
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center" colspan="2">{{ question.name }} ({{ percentage(question.approval) }} approved)</th>
                </tr>
                <tr>
                    <th>User</th>
                    <th class="text-center">Vote</th>
                </tr>
                </thead>
                <tbody>
                {% for vote in question.votes %}
                    {% set yes = vote.choice < question.choices %}
                    <tr>
                        <td>
                            <a href="/users/{{ vote.user.id }}">{{ vote.user.display_name }}</a>
                        </td>
                        <td class="text-center {{ yes ? 'success' : 'danger' }}">{{ choice(question, vote) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center lead">No votes yet</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}
