<article class="comment">
    <header class="comment__header">
        <figure>
            <img src="{{ gravatar.setAvatarSize(50).get(comment.user.email) }}" alt="...">
        </figure>
        <h4>
            <a href="/users/{{ comment.user_id }}">{{ comment.user.display_name }}</a><br>
            <small>{{ comment.created_at.toDateTimeString() }}</small>
        </h4>
    </header>

    {{ comment.parsed_contents|raw }}
</article>

<div class="comment__children">
    {% for comment in comment.children %}
        {% include '_partials/comment.twig' %}
    {% endfor %}
</div>
