<article class="comment" id="{{ comment.xref }}">
    <header class="comment__header">
        <figure>
            <img src="{{ comment.user.avatar(50) }}" alt="{{ comment.user.name }}">
        </figure>
        <h4>
            <a href="{{ url('users.show', comment.user.identifier) }}">{{ comment.user.display_name }}</a><br>
            <small>
                <a href="#{{ comment.xref }}">#</a>
                {{ comment.created_at.toDateTimeString() }}
            </small>
        </h4>
    </header>

    <div class="comment__body">
        {{ comment.parsed_contents|raw }}
    </div>
</article>

<div class="comment__children">
    {% for comment in comment.children %}
        {% include '_partials/comment.twig' %}
    {% endfor %}
</div>
