<article class="comment">
    <figure class="media-left">
        <img class="media-object img-circle" src="{{ gravatar.setAvatarSize(100).get(comment.user.email) }}" alt="...">
    </figure>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="/users/{{ comment.user_id }}">
                {{ comment.user.display_name }}
            </a>
            <small>{{ comment.created_at.toDateTimeString() }}</small>
        </h4>

        {{ comment.parsed_contents|raw }}
    </div>
</article>
