{% extends '_layouts/layout.twig' %}
{% set title = 'Latest votes' %}
{% set subtitle = title %}

{% block content %}
    <div class="table-responsive">
        <table class="table">

        </table>
    </div>

    <ul class="list-group"></ul>
    {% for vote in votes %}
        <li class="list-group-item">
            <a href="/users/{{ vote.user.name }}">{{ vote.user.name }}</a>
            voted <strong>{{ choice(vote.question, vote) }}</strong>
            on
            <a href="/requests/{{ vote.question.request.id }}">{{ vote.question.request.name }}</a>
            <span class="badge">{{ vote.created_at.diffForHumans() }}</span>
        </li>
    {% endfor %}

    <div class="text-center">
        {{ votes.render() | raw }}
    </div>
{% endblock %}
