{% extends '_layouts/layout.twig' %}
{% set title = group.name %}

{% block content %}
    <ul class="list-group">
        {% for thread in group.threads %}
            <li class="list-group-item">
                <span class="badge">{{ thread.comments().count() }} replies</span>
                <div class="media">
                    <div class="media-left">
                        <img class="img-circle" src="{{ thread.user.avatar(50) }}" style="width: 50px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{ url('threads.show', thread.slug) }}">
                                {{ thread.name }}
                            </a>
                        </h4>
                        <p>
                            by <a href="{{ url('users.show', thread.user.slug) }}">{{ thread.user.name }}</a>,
                            {{ thread.created_at.diffForHumans() }}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
